@font-face {
  font-family: 'MapleMonoNL';
  src: url('MapleMonoNL-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MapleMonoNL';
  src: url('MapleMonoNL-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MapleMonoNL';
  src: url('MapleMonoNL-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MapleMonoNL';
  src: url('MapleMonoNL-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MapleMonoNL';
  src: url('MapleMonoNL-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
