@mixin default-font {
  font-family: 'Rubik';
  color: var(--fg-primary-color);
  font-size: 1rem;
  line-height: 24px;
}

@mixin mapple-font {
  font-family: 'MapleMonoNL';
  color: var(--fg-primary-color);
  font-size: 0.9rem;
  line-height: 24px;
}
