// BG
$bg-primary-color: #eeeeee;
$bg-secondary-color: #e8eaeb;
$bg-tertiary-color: #dce0e4;
$bg-header-color: 220, 223, 225;
$bg-disabled-color: #e7e9ed;
$bg-inverted-color: #22263b;
$bg-accent-overlay-color: #818bb5;
$bg-accent-color: #d7e0f3;
$bg-pressed-color: #22263b0d;
$bg-overlay-primary-color: #454a6115;
$bg-overlay-secondary-color: #94a1abdc;
$bg-action-hover-color: #828dca;
$bg-hover-color: #d0d1d3;
$bg-focus-color: #d7e0f3;
$bg-highlight-color: #e3e2ff;

// BG STATUS
$bg-success-color: #d0e6d2;
$bg-error-color: #ebd5d9;
$bg-warning-color: #fcefdc;
$bg-info-color: #d4e8f7;

// FG
$fg-primary-color: #22263b;
$fg-secondary-color: #22263bcc;
$fg-tertiary-color: #22263b99;
$fg-muted-color: #22263b66;
$fg-accent-color: #344079;
$fg-action-color: #424c86;
$fg-inverted-color: #ffffff;
$fg-disabled-color: #22263b4d;
$fg-pressed-color: #22263b;
$fg-highlight-color: #7371c9;

// FG STATUS
$fg-success-color: #1e6627;
$fg-error-color: #8c2b3d;
$fg-warning-color: #8a5a1b;
$fg-info-color: #2a5a7f;

// Border
$border-primary-color: #abacb3;
$border-secondary-color: #d9dadc;
$border-accent-color: #bbcef8;
$border-disabled-color: #d9dadc;
$border-button-secondary-color: #c9cbd7;
$border-focus-color: #344079;
$border-pressed-color: #344079;

// BORDER STATUS
$border-success-color: #5b9d63;
$border-error-color: #c58c99;
$border-warning-color: #e6c58d;
$border-info-color: #89b9d9;

// Shadow
$shadow-color: #22263b;
