// BG
$bg-primary-color: #1e1f20;
$bg-secondary-color: #121314;
$bg-tertiary-color: #151617;
$bg-header-color: 18, 19, 20;
$bg-disabled-color: #353535;
$bg-inverted-color: #e4e4e4;
$bg-accent-overlay-color: #441717;
$bg-accent-color: #181717;
$bg-pressed-color: #ffffff1a;
$bg-overlay-primary-color: #131010;
$bg-overlay-secondary-color: #ffffff1a;
$bg-action-hover-color: #e18a4c;
$bg-hover-color: #ebb89340;
$bg-focus-color: #ffffff1a;
$bg-highlight-color: #5a482c;

// BG STATUS
$bg-success-color: #2c492f;
$bg-error-color: #6d3b46;
$bg-warning-color: #5a482c;
$bg-info-color: #2a4a6e;

// FG
$fg-primary-color: #e4e4e4;
$fg-secondary-color: #e4e4e4cc;
$fg-tertiary-color: #e4e4e499;
$fg-muted-color: #e4e4e466;
$fg-accent-color: #ff8856;
$fg-action-color: #e18a4c;
$fg-inverted-color: #1e1f20;
$fg-disabled-color: #e4e4e44d;
$fg-pressed-color: #e4e4e4;
$fg-highlight-color: #dab180;

// FG STATUSF
$fg-success-color: #67d174;
$fg-error-color: #ff879d;
$fg-warning-color: #f5b971;
$fg-info-color: #79b3f7;

// Border
$border-primary-color: #353535;
$border-secondary-color: #222324;
$border-accent-color: #632732;
$border-disabled-color: #222324;
$border-button-secondary-color: #623f30;
$border-focus-color: #ff8856;
$border-pressed-color: #ff8856;

// BORDER STATUS
$border-success-color: #43884d;
$border-error-color: #8c3b4d;
$border-warning-color: #b5853b;
$border-info-color: #4a7fa9;

// Shadow
$shadow-color: #000000;
